.root {
  composes: wobbleX from "./animations.css";
  width: 50%;
  margin: 0 auto;
  border: 1px solid #000;
}

.heading {
  composes: padded from "./boxes.css";
  font-style: italic;
}

.content {
  composes: padded from "./boxes.css";
  border-top: 1px solid #000;
  margin: 10px 0;
}